# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.env

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Local app data (IMPORTANT)
.local/
*.log

# PyInstaller (future)
dist/
build/
*.spec